.home h1{
    margin-bottom: 20px;
}

.boxContainer{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(250px, auto);
}

.box{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 81%);
}

.box2{
    grid-column: span 1;
    grid-row: span 3;
}